/* General page styling */
.book-content {
    padding: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  .page-title {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .book-create {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  

  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .form-control {
    flex: 1; /* Each input field takes equal space */
    margin: 0 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-control:first-child {
    margin-left: 0;
  }
  
  .form-control:last-child {
    margin-right: 0;
  }

  .btn-primary {
    width: 30%; /* Allow the button to grow with the content */
    padding: 10px 20px; /* Comfortable padding */
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block; /* Make the button a block element */
    margin: 20px auto; /* Center the button horizontally */
  }
  
  .btn-primary:hover {
    background-color: #45a049;
  }
  
  .alert-danger {
    color: red;
    font-size: 12px;
  }
  
  /* Table styling */
  .mat-elevation-z8 {
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  }
  
  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .material-icons {
    cursor: pointer;
    vertical-align: middle;
  }
  
  .material-icons.edit {
    color: #FFC107; /* Amber */
  }
  
  .material-icons.delete {
    color: #F44336; /* Red */
  }
  
  .material-icons.done {
    color: #4CAF50; /* Green */
  }
  
  .material-icons:hover {
    opacity: 0.8;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .form-row {
      flex-direction: column;
    }
  
    .form-control {
      margin: 10px 0; /* Margin only top and bottom in mobile view */
    }
  
    .btn-primary {
      margin-top: 10px;
    }
  }